.example-spacer {
  flex: 1 1 auto;
}

a {
    text-decoration: unset;
    font-size: 24px;
}

mat-icon {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 28px;
    margin-top: -8px;
}

.mat-toolbar {
  //opacity: 0.9;
}
